body {
    font-size: 16px;
}

.px-d {
    padding-left: 10vw !important;
    padding-right: 10vw !important;
}
.btn-block {width: 100%;}

/* Custom styles */
.br-0 {
    border-radius: 0 !important;
}
.bg-black {
    background-color: black;
}
.bg-coral {
    background-color: coral !important;
    border: 0 !important;
}
.btn-width-custom {width: 200px;}

.shadow-custom {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.no-border {
    border: 0 !important;
}
.bg-gray {
    background-color: #525252;
}
.text-gray {color: #525252 !important;}
.text-gray:active {color: black !important;}

h4 {font-size: 0.8rem !important;}