.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    background-color: hsl(185, 41%, 84%);
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: 0;
}

header {
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.container {
    display: flex;
    flex-direction: row;
    background-color:hsl(0, 0%, 100%);
    border-radius: 20px;
    width: 70%;
    height: 45%;
    left: 0;
    right: 0;
    margin: auto;
}

.input-side {
    margin: 20px 10px 20px 20px;
    width: 48%;
}
.input_rectangle {
    background-color: hsl(189, 41%, 97%);
    width: 90%;
    height: 1.5em;
    border-radius: 5px;
}
.input_rectangle img {padding-left: 10px;}
input {
    width: 80%;
    font-size: 24px;
    padding: 0em !important;
	margin: 0em !important;
	border: 0;
    background-color: hsl(189, 41%, 97%);
    text-align: end;
    color: hsl(183, 100%, 15%);
    font-family: 'Space Mono', monospace;
    font-weight: bold;
}
p {
    margin-bottom: 0;
    margin-top: 20px;
    font-size: 0.9rem;
    color: gray;
}

.buttons {
    display: flex;
    flex-wrap: wrap;

}
.buttons button, .custom_input {
    width: 28%; 
    height: 1.5rem; 
    margin: 3px;
}
.custom_input {
    font-size: 18px; 
    height: 1.5em;
    text-align: center;    
}
.buttons button {
    border: 0;
    border-radius: 5px;
    background-color: hsl(183, 100%, 15%);
    color: white;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 18px;
    height: 1.5em;  
    transition: background 9999999s;
}
.buttons input {
    position: relative;
    top: 3px;
    left: 3px;
    border-radius: 5px;
}

.result-side {
    border-radius: 10px;
    background-color: hsl(183, 100%, 15%);
    width: 48%;
    margin: 20px 20px 20px 10px;
    padding: 10px;
}
.row {
    width: 98%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.text, .result {width: 48%;}
.row p, h6 {margin: 0;}
h6 {color: white;}
.result {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    color: hsl(172, 67%, 45%);
}

.reset {
    position: relative;
    width: 85%;
    color: hsl(183, 100%, 15%);
    background-color: hsl(183, 84%, 22%);
    border: 0;
    border-radius: 5px;
    text-align: center;
    bottom: -35px;
    left: 7%;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 18px;
}

button:hover {background-color: hsl(183, 89%, 21%)}
button:active {
    background: rgb(84, 201, 185);
    color: hsl(183, 100%, 15%);
    transition: background 0s;
  }

#bill_alert, #tip_alert, #humans_alert {
    color: rgb(148, 17, 17); 
    font-size: 0.7rem;
    font-weight: bold;
}

@media (max-width: 800px) {
    .container {
        flex-direction: column;
        width: 80%;
        margin-bottom: 10px;
    }
    .input-side, .result-side {width: 85%; margin-top: 0;}
    .buttons button, .custom_input {
        width: 45%;
    }
    .input_rectangle {width: 95%;}
    .reset {bottom: 0;}
}