/* Flex styles -------------------------------------------------*/
header {
    display: flex;
  }

nav {
  display: inline-flex;
  justify-content: space-between;
}

  @media (min-width: 700px) {
   .leading {
      display: flex;
      flex-direction: column;
    }
  }

/* Grid styles --------------------------------------------------*/
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(49vw, 1fr));
    grid-gap: 1px;
}

/*Generic styles ------------------------------------------------*/
body {
  margin: 0;
  font-family: 'Fraunces', serif;
  font-size: 18px;
}
nav, footer {
  font-family: 'Barlow', sans-serif;
}

/* NavBar */
.navigation-bar {
  background-color: #3ebfff;
  margin: 0;
  padding-top: 5vh;
  padding-left: 3vw;
  width: 100vw;
  height: auto;
  justify-content: space-between;
  z-index: 1;
}
.logo {
  display: inline-block;
  vertical-align: top;
}
.navigation-bar ul {
  padding: 0px;
  margin: 0px;
  padding-right: 3vw;
  text-align: center;
  color: white;
}
ul li {
  display: inline;
  padding-left: 3vw;
}

/* Leading */
.leading {
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: url('images/desktop/image-header.jpg') center #3ebfff no-repeat;
  background-size: cover;
  top: -60px;
}
.leading h1 {
  color: white;
  font-size: 11vh;
  margin-top: 8vh;
  margin-bottom: 8vh;
}
.arrow {
  margin-bottom: 26vh;
}

/* Cards */
.cards article {
  width: 49.5vw;
  height: 40vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Text styles */
h4 {
  font-size: 30px;
  margin: 0;
  text-align:justify;
  margin-left: 5vw;
}

/* Cards bg img */
.two {
  overflow: hidden;
  position: relative;
  background: url('images/desktop/image-transform.jpg') center #3ebfff no-repeat;
  background-size: cover;
}
.three {
  overflow: hidden;
  position: relative;
  background: url('images/desktop/image-stand-out.jpg') center #3ebfff no-repeat;
  background-size: cover;
}
.five {
  overflow: hidden;
  position: relative;
  background: url('images/desktop/image-graphic-design.jpg') center #3ebfff no-repeat;
  background-size: cover;
}
.six {
  overflow: hidden;
  position: relative;
  background: url('images/desktop/image-photography.jpg') center #3ebfff no-repeat;
  background-size: cover;
}